{% extends 'site_admin.html' %}

{% block content %}
<div class="row">
   <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
           <div class="col">
              <h3 class="mb-0"><i class="fa fa-users"></i> Create Rumah Sakit Rujukan</h3>
            </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <hr/>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>  
      </div>
   </div>
</div>

{% endblock content %}