{% extends 'site_admin.html' %}
{% block title %} {{ page_title }} {% endblock title %}

{% block content %}
<div class="row">
      <div class="col">
        <div class="card shadow">
           <div class="card-header border-0">
              <h4 class="mb-0">Daftar Kabupaten</h4>
            </div> 
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                 <thead class="thead-light">
                    <tr>
                       <th scope="col">No</th>
                       <th scope="col">Kab/Kota</th>
                       <th scope="col">Latitude</th>
                       <th scope="col">Longitude</th>
                       <th scope="col">Positif</th>
                       <th scope="col">Sembuh</th>
                       <th scope="col">Meninggal</th>
                       <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for items in object_list %}
                      <tr>
                         <th scope="row">{{ forloop.counter }}</th>
                         <td scope="row">{{ items.nama }}</td>
                         <td scope="row">{{ items.lat }}</td>
                         <td scope="row">{{ items.lon }}</td>
                         <td scope="row">{{ items.positif }}</td>
                         <td scope="row">{{ items.jumlah_positif }}</td>
                         <td scope="row">{{ items.jumlah_positif }}</td>
                         <td>
                           <a class="btn btn-sm btn-warning" title="Edit Item" href="#"><i class="fa fa-edit"></i></a>
                           <a class="btn btn-sm btn-danger" title="Delete Item" href="#"><i class="fa fa-trash"></i></a>
                         </td>
                       </tr>
                        {% endfor %}
                    </tbody>
               </table>
            </div>
          </div>
       </div>
   </div>

{% endblock content %}