{% extends 'site_admin.html' %}

{% block content %}

<div class="row">
      <div class="col">
        <div class="card shadow">
           <div class="card-header border-0">
              <h4 class="mb-0">Daftar Penderita Per Kabupaten</h4>
            </div> 
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                 <thead class="thead-light">
                    <tr>
                       <th scope="col">ID</th>
                       <th scope="col">Kab/Kota</th>
                       <th scope="col">Gender</th>
                       <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for items in object_list %}
                      <tr>
                         <th scope="row">{{ forloop.counter }}</th>
                         <td scope="row">{{ items.lokasi }}</td>
                         <td scope="row">{{ items.gender }}</td>
                         <td scope="row">{{ items.status }}</td>
                       </tr>
                        {% endfor %}
                    </tbody>
               </table>
            </div>
          </div>
       </div>
   </div>

{% endblock content %}